#skills{
    height: 700px;
    background-color: darkgray;
}
#myskill{
    margin-left: 500px;
    padding: 30px;
}
#skill{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    text-align: justify;
    font-size:large;
    margin-left: 70px;
    margin-right: 30px;
}
.hd{
    margin-left: 70px;
}
.sd{
    margin-left: 400px;
    font-size: larger;
}

.to{
    
    height: 5px;
    width: 390px;
    background-color: darkgreen;
    border: 2px solid black;
    margin-left: 70px;
    }